tolleranz=1380 							#visgrep Tolleranz
counter=13								#wie lange die rute im wasser bleibt ohne das nen fisch anbeißt
peeklog=/tmp/fishlog						#soundlog ^_^
image=/tmp/fish.png						#imagepath
sound=130								#ab wann der bot anspringt
soundmin=115							#sound min
wait=2.3s  								#pause zwischen auswerfen
breaktime=08-00 							#wann soll der bot pennen gehen?
snd=./sndpeek  							#sndpath
pat=./patfiles/fish4.pat 
var=500